/*主体的最外层*/
.Main{
    padding: 25px 1.5% 5px;
}
/*主体部分设置*/
#frame{
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-bottom:10px;
    border-radius: 12px;
    overflow: hidden;
    border-bottom: 1px solid #666666;
}
#frame>li{
    border-right: 1px solid #666666;
    border-left: 1px solid #666666;
}
/*标题*/
.title{
    padding: 12px;
    font-size: 14pt;
    font-weight: bold;
    background-color:#336699;
    color:white;
}
/*拉近图片标题与上方距离*/
h2{
    margin: -3px 0px;
    padding: 15px 0px 12px;
    text-align: center;
}
.display{
    display: flex;
}
/*图片居中*/
#img{
    display: flex;
    align-items: center;
    padding:0 3%;
}
img{
    align-items: center;
}
/*图片信息部分设置，右侧留白一部分*/
.information{
    padding-right: 5%;
    flex:auto;
    display: flex;
    flex-direction: column;
}
/*右侧信息部分*/
#tags{
    border-radius: 10px;
    border: 1px solid #999999;
    margin: 10px 0px;
    margin-bottom:5px;
    list-style-type: none;
    border: 1px solid #999999;
    padding: 0;
    overflow: hidden;
    z-index:0;
}
#tags li{
    border-top: 1px solid #999999;
    padding: 5px 1%;
}
/*小标题*/
.small-title{
    font-weight:bold;
    background-color:whitesmoke;
    color:#666666;
    border-top: none !important;
}
/*图片描述*/
#intro{
    border-top: 1px solid #999999;
    padding:0px 3%;
}
/*上传日期格式*/
time{
    float: right;
    font-size: 12pt;
    color: #999999;
}
/*按钮*/
button{
    margin: 5px 10%;
    padding: 8px 12px;
    font-size: 12pt;
    font-weight: bold;
    cursor: pointer;
    color: #FFFFFF;
    border-radius: 20px;
    text-align: center;
  }
/*收藏*/
#collect{
    background-image: linear-gradient(to bottom,#FF6666,#CC3333);
    border: 1px solid #993333;
}
/*关注拍摄者*/
#follow{
    background-image: linear-gradient(to bottom,#6699FF,royalblue);
    border: 1px solid royalblue;
}
@media screen and (max-width: 1000px){
    #img{
        padding-right: 1%;
        padding-left: 1%;
    }
    img{
        width: 100%;
        align-items: center;
    }
    .information{
        min-width: 120px;
        padding-right: 1%;
    }
    #author {
        font-size: 16px;
    }
    button{
        margin: 5px 0;
    }
    h3{
     font-size: 12pt;   
    }
    #intro p{
        font-size: 12pt;
    }
    #collect{
        margin-bottom: 20px;
    }
    #follow{
        margin-bottom: 0px;
    }
}